<ul class="post-list js-post-list">
  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
        {%- if post.thumbnail -%}
        <img class="post-thumbnail" src="{{ post.thumbnail }}">
        {%- endif -%}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
<ul class="paginated-list js-paginated"></ul>
<div class="post-list-nav">
  <a class="previous-page js-previous">&lt;</a>
  <div class="page-nav js-page-nav"></div>
  <a class="next-page js-next">&gt;</a>
</div>
<form class="post-list-settings js-post-list-settings">
  <input type="number" min="1" max="20" id="posts-per-page">
  <label for="posts-per-page">posts per page</label>
</form>
<script>
  (function (){
    const postList = document.querySelector('.js-post-list');
    const postListPaginated = document.querySelector('.js-paginated');
    const pageNav = document.querySelector('.js-page-nav');
    const prevPageElem = document.querySelector('.js-previous');
    const nextPageElem = document.querySelector('.js-next');
    const postsPerPageForm = document.querySelector('.js-post-list-settings')
    const postsPerPageInput = postsPerPageForm.firstElementChild;

    const postCount = postList.childElementCount;
    
    let page = 0, pageCount, postsPerPage;
    
    const setCurrentPage = (newPage) => {
      newPage = Math.min(Math.max(newPage, 0), pageCount-1);
      postListPaginated.childNodes[page].classList.remove('curr-page');
      postListPaginated.childNodes[newPage].classList.add('curr-page');
      setDisabled(pageNav.childNodes[page], false);
      setDisabled(pageNav.childNodes[newPage], true);
      page = newPage;
    };

    const setPostsPerPage = (value) => {
      postsPerPage = value;
      pageCount = Math.ceil(postCount / postsPerPage);
      paginateList(pageCount, postsPerPage);
      page = 0;
      setCurrentPage(page);
    }
    
    const setDisabled = (pageNavElem, disabled) => {
      pageNavElem.classList.toggle('disabled', disabled);
    }

    const addNavButtonListeners = (leftButton, rightButton) =>{
      leftButton.addEventListener('click', () => {
        setCurrentPage(page - 1);
      });
      rightButton.addEventListener('click', () => {
        setCurrentPage(page + 1);
      });
    }

    const addPostsPerPageFormListener = (form, input) => {
      form.addEventListener('submit', e => {
        e.preventDefault();
        setPostsPerPage(input.value)
      });
    }

    const paginateList = (pages, perPage) => {
      // clear post lists and page nav
      while (postListPaginated.firstChild) {
        postListPaginated.removeChild(postListPaginated.lastChild);
      }
      while (pageNav.firstChild) {
        pageNav.removeChild(pageNav.lastChild);
      }

      for (let i = 0; i < pages; i++) {
        // create sub-lists for each page with 1..PostsPerPage posts
        const pageElem = postList.cloneNode(); // shallow copy, no children
        const pagePosts = Array.from(postList.childNodes).slice(i * perPage, (i+1) * perPage);

        pagePosts.forEach(post => {
          pageElem.appendChild(post.cloneNode(true));
        });
        postListPaginated.appendChild(pageElem);

        // setup page nav

        const pageNavElem = document.createElement('a');
        pageNavElem.innerHTML = i + 1;
        pageNavElem.addEventListener('click', () => {
          setCurrentPage(i);
        });
        pageNav.appendChild(pageNavElem);
      }
    }

    setPostsPerPage(10);
    postsPerPageInput.value = postsPerPage;
    // init with first page
    setCurrentPage(0);

    addPostsPerPageFormListener(postsPerPageForm, postsPerPageInput);
    addNavButtonListeners(prevPageElem, nextPageElem);

    
  })();
</script>