---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    {%- assign featured = site.projects | where: "featured", true -%}
    {%- assign not_featured = site.projects | where: "featured", false -%}
    <h2 class="page-list-heading">{{ page.list_title | default: "Featured" }}</h2>
    <ul class="page-list">
      {%- for project in featured -%}
      <li>
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="project-meta">{{ project.date | date: date_format }}</span> -->
        <h3>
          <a class="project-link" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
            {%- if project.thumbnail -%}
            <img class="project-thumbnail" src="{{ project.thumbnail }}">
            {%- endif -%}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ project.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <!-- TODO: non-featured section gets compressed into vertical list format? paginated? -->
    <h2 class="page-list-heading">{{ page.list_title | default: "Other Projects" }}</h2>
    <ul class="page-list">
      {%- for project in not_featured -%}
      <li>
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="project-meta">{{ project.date | date: date_format }}</span> -->
        <h3>
          <a class="project-link" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
            {%- if project.thumbnail -%}
            <img class="project-thumbnail" src="{{ project.thumbnail }}">
            {%- endif -%}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ project.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
